@charset "UTF-8";
/* Указываем box sizing */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Убираем внешние отступы */
body,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul,
li {
  list-style: none;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  background: #171919;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.section-wrapper {
  height: 100%;
  max-width: 1480px;
  padding: 0 20px;
  margin: 100px auto;
  position: relative;
}

.title-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  right: 20px;
  position: absolute;
}

.subtitle {
  position: relative;
  font-size: 22px;
  line-height: 145%;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 110px;
}
.subtitle::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 80px;
  height: 2px;
  background: #ffffff;
  opacity: 0.5;
}

.title {
  font-weight: 800;
  font-size: 40px;
  line-height: 215%;
  text-transform: uppercase;
}
.title__span {
  font-weight: 250;
}

.section-title {
  position: relative;
  font-weight: 800;
  font-size: 80px;
  line-height: 150%;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 15%;
}
.section-title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 1px;
  background-color: #4af6cd;
}
.section-title::after {
  content: "surf";
  text-transform: uppercase;
  position: absolute;
  font-weight: 800;
  font-size: 200px;
  line-height: 78%;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.02;
  bottom: -83px;
  left: -294px;
}

.header-suptitle__left {
  font-size: 22px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}
.header-suptitle__left::before {
  content: "";
  top: 50%;
  right: 120%;
  width: 80px;
  height: 2px;
  position: absolute;
  background: #ffffff;
  opacity: 0.5;
}

.header-title__left {
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  color: #ffffff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.suptitle {
  right: 5%;
  text-align: right;
  -webkit-transform: translateY(-85px);
      -ms-transform: translateY(-85px);
          transform: translateY(-85px);
}
.suptitle__left {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  position: relative;
  padding-left: 103px;
  opacity: 0.5;
}
.suptitle__left::before {
  top: 50%;
  left: 0;
  content: "";
  width: 80px;
  height: 1px;
  position: absolute;
  background: #ffffff;
  opacity: 0.5;
}

.travel-suptitle {
  right: 5%;
  text-align: left;
  -webkit-transform: translateY(-85px);
      -ms-transform: translateY(-85px);
          transform: translateY(-85px);
}
.travel-suptitle__right {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  position: relative;
  padding-right: 103px;
  opacity: 0.5;
}
.travel-suptitle__right::after {
  top: 50%;
  right: 0;
  content: "";
  width: 80px;
  height: 1px;
  position: absolute;
  background: #ffffff;
  opacity: 0.5;
}

.title__left {
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  color: #ffffff;
}
.title__left-span {
  font-weight: 250;
  color: #ffffff;
}

.section__wrapper {
  position: relative;
  padding: 160px 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 180px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 34px;
}
.footer__suptitle {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.header__title {
  position: absolute;
  width: 500px;
  left: 0;
  top: 1%;
  z-index: 1;
  font-weight: 800;
  font-size: 200px;
  line-height: 78%;
  text-transform: uppercase;
  opacity: 0.05;
}
.header__map-svg {
  position: absolute;
  width: 38%;
  max-width: 635px;
  z-index: 2;
  right: 0;
  top: 0;
  height: 40%;
  min-height: 310px;
}

.line-animation {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  -webkit-animation: animdash 4s infinite 6s;
          animation: animdash 4s infinite 6s;
}

@-webkit-keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}
.name-point {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.double-down-arrows {
  position: absolute;
  left: 12%;
  bottom: 5%;
  z-index: 1;
}

.container__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: -100%;
}

.header-container {
  height: 100vh;
  min-width: 0;
}

.header-swiper-slide {
  height: 100%;
  width: 100%;
}
.header-swiper-slide__north {
  background: -o-radial-gradient(42.87% 49.23%, 62.09% 62.09%, rgba(34, 34, 34, 0.426517) 0%, #0f0f0f 100%), url(../images/header/bg-airlie-beach.jpg);
  background: radial-gradient(62.09% 62.09% at 42.87% 49.23%, rgba(34, 34, 34, 0.426517) 0%, #0f0f0f 100%), url(../images/header/bg-airlie-beach.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-swiper-slide__south {
  background: -o-radial-gradient(42.87% 49.23%, 62.09% 62.09%, rgba(34, 34, 34, 0.426517) 0%, #0f0f0f 100%), url(../images/header/bg-beach.png);
  background: radial-gradient(62.09% 62.09% at 42.87% 49.23%, rgba(34, 34, 34, 0.426517) 0%, #0f0f0f 100%), url(../images/header/bg-beach.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-swiper-slide__west {
  background: -o-radial-gradient(42.87% 49.23%, 62.09% 62.09%, rgba(34, 34, 34, 0.426517) 0%, #0f0f0f 100%), url(../images/header/bg-coud-nine.jpg);
  background: radial-gradient(62.09% 62.09% at 42.87% 49.23%, rgba(34, 34, 34, 0.426517) 0%, #0f0f0f 100%), url(../images/header/bg-coud-nine.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-swiper-slide__east {
  background: -o-radial-gradient(42.87% 49.23%, 62.09% 62.09%, rgba(34, 34, 34, 0.426517) 0%, #0f0f0f 100%), url(../images/header/bg-malibu-beachjpg.jpeg);
  background: radial-gradient(62.09% 62.09% at 42.87% 49.23%, rgba(34, 34, 34, 0.426517) 0%, #0f0f0f 100%), url(../images/header/bg-malibu-beachjpg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-swiper-slide__info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  bottom: 20%;
  right: 5%;
}
.header-swiper-slide__subtext {
  position: relative;
  font-size: 22px;
  line-height: 145%;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 110px;
}
.header-swiper-slide__subtext::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 80px;
  height: 2px;
  background: #ffffff;
  opacity: 0.5;
}
.header-swiper-slide__title {
  font-weight: 800;
  font-size: 80px;
  line-height: 108%;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: right;
}
.header-swiper-slide__text {
  font-weight: 800;
  font-size: 40px;
  line-height: 215%;
  text-transform: uppercase;
}

.container-wrapper {
  background: -o-radial-gradient(42.87% 49.23%, 62.09% 62.09%, rgba(34, 34, 34, 0.426517) 0%, #0f0f0f 100%);
  background: radial-gradient(62.09% 62.09% at 42.87% 49.23%, rgba(34, 34, 34, 0.426517) 0%, #0f0f0f 100%);
}

.swiper {
  height: 100%;
  width: 100%;
  z-index: auto;
}
.swiper .swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-dots-container {
  max-width: 900px;
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dots-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 200px;
  min-width: 0;
  width: 100%;
  border-top: solid 4px #ffffff;
  padding-top: 6px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dots-wrapper__number {
  font-size: 20px;
  font-weight: 800;
}
.dots-wrapper__item {
  font-size: 20px;
  font-weight: 400;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.mySwiper .swiper-slide-thumb-active .dots-wrapper {
  border-top: solid 4px #4af6cd;
}

.arrow-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 5%;
  right: 5%;
}

.swiper-arrow-slider {
  z-index: 10;
  cursor: pointer;
}

.swiper-arrow-prev {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header__asside {
  position: absolute;
  overflow: auto;
  left: 0;
  top: 0;
  border-right: solid 1px rgba(255, 255, 255, 0.25);
  height: 100vh;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  width: 141px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
.logo__title {
  font-weight: 800;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 143%;
  color: #fff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.logo__title-span {
  position: relative;
  background-color: rgba(75, 247, 206, 0.2509803922);
  padding: 20px 35px;
  margin-top: 5px;
}
.logo__title-span::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 1px;
  height: 20px;
  top: -10px;
  background-color: #fff;
}

.nav-bar {
  padding-top: 10%;
}
.nav-bar__unlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.nav-bar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-bar__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.header-date__day {
  font-weight: 800;
  font-size: 72px;
  line-height: 89%;
}
.header-date__year {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.4px;
}

.header-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1.05px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.header-location::before {
  content: "";
  background-image: url(../images/header/nav-point.svg);
  width: 11px;
  height: 13px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 7px;
}

.world-map-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10% auto 60px;
  max-width: 1200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.world-map {
  width: 100%;
  max-width: 1280px;
  min-width: 250px;
  height: auto;
  max-height: 634px;
  min-height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.coordinates-beach {
  position: absolute;
  top: calc(50% - 187.5px);
  right: 1%;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  text-transform: uppercase;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  white-space: nowrap;
  opacity: 0.5;
}

.dots-beach-mobile-info__wrapper {
  position: absolute;
  padding: 24px 32px;
  gap: 15px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 216px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 16, 16, 0.768627451)), to(transparent));
  background: -o-linear-gradient(top, rgba(15, 16, 16, 0.768627451) 0%, transparent 100%);
  background: linear-gradient(to bottom, rgba(15, 16, 16, 0.768627451) 0%, transparent 100%);
  top: -223px;
}
.dots-beach-mobile-info__location-name {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 5px;
}
.dots-beach-mobile-info__location-name::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 14px;
  top: calc(50% - 7px);
  background-image: url(../images/arrow-right.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
}
.dots-beach-mobile-info__location-city {
  position: relative;
  font-size: 16px;
  line-height: 32px;
}
.dots-beach-mobile-info__location-city::after {
  content: "";
  position: absolute;
  background: #4af6cd;
  width: 80px;
  height: 1px;
  left: 0;
}
.dots-beach-mobile-info__weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.dots-beach-mobile-info__weather-wave {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 800;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0 8px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dots-beach-mobile-info__weather-wave::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 25px;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  background-image: url(../images/surf/info-beach/wave.svg);
}
.dots-beach-mobile-info__weather-wave::after {
  content: "Surf (FT)";
  position: absolute;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  white-space: nowrap;
  bottom: 0;
}
.dots-beach-mobile-info__weather-water {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 800;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0 8px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dots-beach-mobile-info__weather-water::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 25px;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  background-image: url(../images/surf/info-beach/water.svg);
}
.dots-beach-mobile-info__weather-water::after {
  content: "Tide (FT)";
  position: absolute;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  white-space: nowrap;
  bottom: 0;
}
.dots-beach-mobile-info__weather-wind {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 800;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0 8px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dots-beach-mobile-info__weather-wind::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 25px;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  background-image: url(../images/surf/info-beach/wind.svg);
}
.dots-beach-mobile-info__weather-wind::after {
  content: "Wind (KTS)";
  position: absolute;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  white-space: nowrap;
  bottom: 0;
}

.dots-beach-wrapper {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: -6px;
  left: 220px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.dots-beach {
  position: absolute;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #4af6cd;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.dots-beach:hover {
  -webkit-box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
          box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
}
.dots-beach.active {
  border-radius: 60% 5% 60% 70%;
  z-index: 2;
}

.dots-beach:nth-child(1).active > .dots-beach-wrapper {
  top: 95px;
  left: 320px;
}

.dots-beach:nth-child(8).active > .dots-beach-wrapper {
  top: -101px;
  left: 122px;
}

.dots-malibu {
  top: 54%;
  left: 0;
}

.dots-airlie {
  top: 44%;
  left: 11%;
}

.dots-cloud {
  top: 50%;
  left: 28%;
}

.dots-vieux {
  top: 79%;
  left: 34%;
}

.dots-1 {
  top: 33%;
  left: 45%;
}

.dots-2 {
  top: 86%;
  left: 53%;
}

.dots-3 {
  top: 62%;
  left: 68%;
}

.dots-4 {
  top: 73%;
  left: 89%;
  z-index: 1;
}

.dots-5 {
  top: 73%;
  left: 89%;
  z-index: 0;
}

.dots-beach-info__wrapper {
  position: relative;
  padding: 24px 32px;
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 283px;
  height: 216px;
  background: rgba(15, 16, 16, 0.768627451);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 6px;
}
.dots-beach-info__location-name {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 5px;
}
.dots-beach-info__location-name::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 14px;
  top: calc(50% - 7px);
  background-image: url(../images/arrow-right.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
}
.dots-beach-info__location-city {
  position: relative;
  font-size: 16px;
  line-height: 32px;
}
.dots-beach-info__location-city::after {
  content: "";
  position: absolute;
  background: #4af6cd;
  width: 80px;
  height: 1px;
  left: 0;
}
.dots-beach-info__weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.dots-beach-info__weather-wave {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 800;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0 8px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dots-beach-info__weather-wave::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 25px;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  background-image: url(../images/surf/info-beach/wave.svg);
}
.dots-beach-info__weather-wave::after {
  content: "Surf (FT)";
  position: absolute;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  white-space: nowrap;
  bottom: 0;
}
.dots-beach-info__weather-water {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 800;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0 8px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dots-beach-info__weather-water::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 25px;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  background-image: url(../images/surf/info-beach/water.svg);
}
.dots-beach-info__weather-water::after {
  content: "Tide (FT)";
  position: absolute;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  white-space: nowrap;
  bottom: 0;
}
.dots-beach-info__weather-wind {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 800;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0 8px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dots-beach-info__weather-wind::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 25px;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  background-image: url(../images/surf/info-beach/wind.svg);
}
.dots-beach-info__weather-wind::after {
  content: "Wind (KTS)";
  position: absolute;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  white-space: nowrap;
  bottom: 0;
}

@media (max-width: 1280px) {
  .swiper-dots-container {
    max-width: 800px;
  }
  .dots-wrapper {
    max-width: 160px;
  }
  .logo {
    width: 98px;
  }
  .logo__title {
    font-size: 40px;
  }
  .logo__title-span {
    padding: 15px 25px;
  }
  .nav-bar__item {
    font-size: 11px;
  }
  .nav-bar__ico {
    width: 44px;
    max-height: 44px;
  }
  .header-date__day {
    font-weight: 500;
    font-size: 52px;
  }
  .header-date__year {
    font-size: 12px;
  }
  .header-location {
    font-size: 10px;
  }
  .header-location::before {
    width: 10px;
    height: 11px;
    margin-right: 5px;
  }
}
@media (max-width: 1024px) {
  .header__title {
    width: 300px;
    font-size: 120px;
  }
  .subtitle {
    letter-spacing: 4px;
    font-size: 15px;
    padding-left: 55px;
  }
  .subtitle::before {
    width: 40px;
  }
  .subtitle-header {
    font-size: 20px;
  }
  .header-swiper-slide__title {
    font-size: 40px;
  }
  .title {
    font-size: 30px;
    font-weight: 600;
    line-height: 150%;
  }
  .title-header {
    font-weight: 800;
  }
  .swiper-dots-container {
    max-width: 600px;
  }
  .dots-wrapper {
    max-width: 130px;
  }
  .dots-wrapper__number {
    font-size: 15px;
    font-weight: 500;
  }
  .dots-wrapper__item {
    font-size: 15px;
  }
  .header__asside {
    left: -100%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    height: calc(100vh - 70px);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background: rgba(20, 56, 47, 0.2509803922);
    position: fixed;
  }
  .header__asside.open {
    left: 0;
    width: 50%;
    margin-top: 70px;
  }
  .container__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
    top: 0;
    left: 0;
    background: rgba(20, 56, 47, 0.2509803922);
    padding-left: 1%;
    padding-right: 1%;
    z-index: 100;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: fixed;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
  .container__burger.active {
    padding-left: 51%;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 60px;
    height: 50px;
  }
  .bar {
    display: block;
    width: 30px;
    height: 2px;
    margin: 5px auto;
    background-color: #ffffff;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .bar:nth-child(1) {
    -webkit-transform: translateY(12px) rotate(45deg);
        -ms-transform: translateY(12px) rotate(45deg);
            transform: translateY(12px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-12px) rotate(-45deg);
        -ms-transform: translateY(-12px) rotate(-45deg);
            transform: translateY(-12px) rotate(-45deg);
  }
  .logo {
    padding-top: 10px;
    width: 226px;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
  .logo__title {
    font-size: 40px;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
  .logo__title-span {
    margin-top: 0;
    margin-left: 5px;
  }
  .logo__title-span::before {
    top: 50%;
    width: 20px;
    height: 1px;
    left: -10px;
  }
  .section-title {
    font-weight: 800;
    font-size: 50px;
  }
  .section-title::before {
    width: 30px;
  }
  .section-title::after {
    font-weight: 800;
    font-size: 100px;
    line-height: 78%;
    bottom: -43px;
    left: -118px;
  }
  .header__map-svg {
    width: 60%;
    height: 35%;
    max-height: 340px;
  }
}
@media (max-width: 853px) {
  .coordinates-beach {
    display: none;
  }
  .dots-beach-mobile-info__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .world-map-wrapper {
    margin: 300px auto 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dots-beach-wrapper {
    display: none;
  }
}
@media (max-width: 759px) {
  .swiper-dots-container {
    display: none;
  }
}
@media (max-width: 640px) {
  .dots-beach {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 480px) {
  .logo {
    display: none;
  }
  .header__map-svg {
    width: 90%;
    height: 35%;
  }
}
@media (max-width: 414px) {
  .header__title {
    display: none;
  }
}
@media (max-width: 375px) {
  .header__map-svg {
    display: none;
  }
}
.arrow-slider {
  position: absolute;
  top: 5%;
  z-index: 10;
  cursor: pointer;
}

.arrow-prev {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  right: 8%;
}

.arrow-next {
  right: 5%;
}

.slider-dots {
  position: absolute;
  bottom: 40px;
  color: #ffffff;
  max-width: 100%;
  min-width: 0;
}

.slick-slide:nth-child(4n+1) .slider-box__inner {
  margin-top: 32px;
}

.slick-slide:nth-child(4n+3) .slider-box__inner {
  margin-top: 89px;
}

.slick-current .btn-box {
  display: block;
}
.slick-current .slider-box__inner {
  background: rgba(28, 33, 33, 0.062745098);
}

.slider-box {
  position: relative;
  margin: 0 auto;
  display: table;
}
.slider-box__inner {
  position: relative;
  overflow: hidden;
  width: 390px;
  min-height: 750px;
  background: rgba(28, 33, 33, 0.8039215686);
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
.slider-box__inner:hover {
  background: rgba(28, 33, 33, 0.062745098);
}
.slider-box__inner:hover .btn-box {
  display: block;
}
.slider-box__inner-img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}
.slider-box__beach-name {
  position: absolute;
  height: 72px;
  left: 10.26%;
  right: 54.1%;
  top: calc(50% - 36px - 261px);
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}
.slider-box__location {
  position: absolute;
  left: 40px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 0;
  height: 0;
  bottom: 80px;
  white-space: nowrap;
}
.slider-box__location-span {
  font-weight: 250;
}

.btn-box {
  display: none;
  text-align: center;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  color: #fff;
}
.btn-box__title {
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}
.btn-box__title-span {
  position: relative;
  background-color: #4af6cd;
  padding: 15px 57px 15px 15px;
}
.btn-box__title-span::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 1px;
  left: -10px;
  background-color: #fff;
}
.btn-box__title-span::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 21px;
  top: 50%;
  background-image: url(../images/arrow-right.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 41px;
}

.travel-slider-wrapper {
  position: absolute;
  bottom: 0;
}

.btn-box-travel {
  text-align: center;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  color: #fff;
}

.travel-slider {
  height: 800px;
  width: 100%;
}
.travel-slider__img {
  width: 1116px;
  height: 780px;
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
}
.travel-slider__infoblock-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 57px;
  padding-bottom: 150px;
}
.travel-slider__infoblock {
  position: relative;
  height: 187px;
  width: 282px;
}
.travel-slider__suptitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  width: 0;
  height: 0;
  white-space: nowrap;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.travel-slider__suptitle-round-trip {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  /* identical to box height, or 257% */
  letter-spacing: 5.25px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.75;
  top: 37px;
  position: absolute;
  right: 20px;
}
.travel-slider__title {
  position: absolute;
  left: 40px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  /* or 90% */
  text-transform: uppercase;
  color: #ffffff;
}

.sleep-slider-title {
  position: absolute;
  top: 100px;
}

.shop {
  margin-bottom: 180px;
}

.shop-slider {
  height: 720px;
  width: 100%;
  position: relative;
}
.shop-slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 115px;
  background-image: url(../images/shop/shop-bg.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 800px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop-wrapper-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 370px;
  gap: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop-slider-title {
  left: 0;
  right: auto;
  width: 480px;
  text-align: left;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.surfboard-prise {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.surfboard-prise__rating {
  width: 154px;
  height: 22px;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.surfboard-prise__rating-star {
  width: 22px;
  height: 22px;
}
.surfboard-prise__dolar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  width: 95px;
  height: 40px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  /* identical to box height, or 125% */
  text-transform: uppercase;
  color: #ffffff;
}
.surfboard-prise__cents {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  /* identical to box height, or 222% */
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.shop-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: inherit;
}

.shop-wrapper-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.shop-wrapper-image__images {
  width: 228px;
  height: 695px;
}
.shop-wrapper-image__dots-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.shop-wrapper-image__info {
  display: none;
  right: -100%;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  /* or 100% */
  text-transform: uppercase;
  color: #ffffff;
  width: 255px;
  height: 50px;
}

.bar-shop {
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #4af6cd;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.shop-wrapper-image__dots-details .bar-shop:nth-child(2) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.shop-wrapper-image__dots-details .bar-shop:nth-child(3) {
  display: none;
}

.shop-wrapper-image__dots-details.active .bar-shop:nth-child(2) {
  opacity: 0;
}

.shop-wrapper-image__dots-details.active .bar-shop:nth-child(3) {
  -webkit-transform: translateX(-60px);
      -ms-transform: translateX(-60px);
          transform: translateX(-60px);
  background: #ffffff;
  opacity: 0.5;
  width: 80px;
  height: 1px;
  display: block;
}

.shop-wrapper-image__dots-details.active + .shop-wrapper-image__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-dots1 {
  position: absolute;
  top: 300px;
  left: 5px;
}

.shop-dots2 {
  position: absolute;
  top: 150px;
  left: 180px;
}

.shop-dots2.active .bar-shop:nth-child(3) {
  -webkit-transform: translateX(60px);
      -ms-transform: translateX(60px);
          transform: translateX(60px);
  width: 80px;
  height: 1px;
  display: block;
}

.shop-dots3 {
  position: absolute;
  top: 550px;
  left: 25px;
}

.shop-info1 {
  position: absolute;
  top: 290px;
  left: -360px;
}

.shop-info2 {
  position: absolute;
  top: 140px;
  right: -330px;
}

.shop-info3 {
  position: absolute;
  top: 540px;
  left: -330px;
}

.shop-wrapper-extras__title {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
  /* identical to box height, or 143% */
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 21px;
  padding-left: 15px;
}
.shop-wrapper-extras__container-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
}
.shop-wrapper-extras__card-extras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 160px;
  height: 210px;
}
.shop-wrapper-extras__img-extras {
  width: 103px;
  height: 104px;
  margin-bottom: 21px;
}
.shop-wrapper-extras__name-card {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.shop-wrapper-extras__prise-card {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  /* identical to box height, or 222% */
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  bottom: 15px;
  left: 0;
  right: 0;
  color: #fff;
}
.logo-footer__title {
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}
.logo-footer__title-span {
  position: relative;
  background-color: #4af6cd;
  padding: 15px;
}
.logo-footer__title-span::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 1px;
  left: -10px;
  background-color: #fff;
}