.main {
  //   margin: 0 auto;
}
.section-wrapper {
  height: 100%;
  max-width: 1480px;
  padding: 0 20px;
  margin: 150px auto;
  position: relative;
}

//title
.title-wrapper {
  width: fit-content;
  text-align: right;
  right: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.subtitle {
  position: relative;
  font-size: 22px;
  line-height: 145%;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.5;
  width: fit-content;
  padding-left: 110px;
  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 80px;
    height: 2px;
    background: #ffffff;
    opacity: 0.5;
  }
}
.title {
  font-weight: 800;
  font-size: 40px;
  line-height: 180%;
  text-transform: uppercase;
  &__span {
    font-weight: 100;
    padding: 0 5px;
  }
}

//section title
.section-title {
  position: relative;
  font-weight: 800;
  font-size: 80px;
  line-height: 150%;
  text-transform: uppercase;
  width: fit-content;
  margin-left: 15%;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 1px;
    background-color: #4af6cd;
  }
  &::after {
    content: '';
    text-transform: uppercase;
    position: absolute;
    font-weight: 800;
    font-size: calc(100% / 80 * 200);
    line-height: 78%;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.02;
    top: 40%;
    right: 5%;
  }
  &__surf {
    &::after {
      content: 'surf';
    }
  }
  &__travel {
    &::after {
      content: 'travel';
    }
  }
  &__sleep {
    &::after {
      content: 'sleep';
    }
  }
  &__shop {
    &::after {
      content: 'shop';
    }
  }
}

.btn-box {
  &__title {
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    width: fit-content;
    height: 80px;
    align-items: center;
  }
  &__title-span {
    position: relative;
    background-color: #4af6cd;
    padding: 15px 57px 15px 15px;
    margin-left: 15px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      width: 20px;
      height: 1px;
      left: -10px;
      background-color: #fff;
    }
    &::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 21px;
      top: 50%;
      background-image: url(../images/arrow-right.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
      transform: translateY(-50%);
      margin-right: 15px;
      right: 0;
    }
  }
}

//section slider
.slider {
  &__container {
  }
  &__img {
    max-width: 1116px;
    min-width: 240px;
    width: 100%;
    max-height: 780px;
    min-height: 168px;
    height: auto;
    object-fit: cover;
    transform: translateX(-50px);
  }
  &__block-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 57px;
    margin-bottom: 70px;
  }
  &__title-wrapper {
    width: fit-content;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 100px;
  }
  &__subtitle {
    padding-right: 110px;
    padding-left: 0;
    &::before {
      right: 0;
      left: auto;
    }
  }
  &__title {
    position: relative;
    padding-right: 100%;
    &::after {
      position: absolute;
      content: '★★★★★';
      font-size: 80%;
      right: 0;
      color: #4af6cd;
      letter-spacing: 8px;
      text-shadow: 0px 0px 16px rgb(74 246 205 / 54%);
    }
  }
  &__infoblock-wrapper {
    margin-top: -15%;
  }
  &__infoblock {
    height: 187px;
    width: 282px;
    display: flex;
    gap: 18px;
  }
  &__infoblock-subtitle {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    opacity: 0.5;
    text-transform: uppercase;
    color: #ffffff;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    white-space: nowrap;
  }

  &__infoblock-title {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    height: fit-content;
  }
  &__result {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &::after {
      content: '';
      font-family: 'Fira Sans';
      font-style: normal;
      font-weight: 400;
      position: absolute;
      font-size: 14px;
      line-height: 257%;
      text-align: right;
      letter-spacing: 5.25px;
      text-transform: uppercase;
      mix-blend-mode: normal;
      opacity: 0.75;
      transform: translateY(100%);
      bottom: 0;
    }
  }
}
