$header__right: 2%;

.header {
  position: relative;
  height: 100vh;
  min-width: 0;
}

.header-suptitle__left {
  font-size: 22px;
  // line-height: 32px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
  &::before {
    content: '';
    top: 50%;
    right: 120%;
    width: 80px;
    height: 2px;
    position: absolute;
    background: #ffffff;
    opacity: 0.5;
  }
}

.header-title__left {
  font-weight: 800;
  font-size: 40px;
  // line-height: 86px;
  text-transform: uppercase;
  color: #ffffff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  position: relative;
  font-weight: 800;
  font-size: 200px;
  text-transform: uppercase;
  color: #ffffff20;
  // opacity: 0.02;
  display: inline-block;
  transform: translateX(-50px);
  &__suptitle {
    position: absolute;
    font-weight: 800;
    font-size: 80px;
    top: 0;
    right: -10px;
    text-transform: uppercase;
    color: #ffffff;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 80px;
      height: 1px;
      background-color: #4af6cd;
    }
  }
}

.suptitle {
  right: $header__right;
  text-align: right;
  transform: translateY(-85px);
  &__left {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    position: relative;
    padding-left: 103px;
    opacity: 0.5;
    &::before {
      top: 50%;
      left: 0;
      content: '';
      width: 80px;
      height: 1px;
      position: absolute;
      background: #ffffff;
      opacity: 0.5;
    }
  }
}

.title {
  &__left {
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__left-span {
    font-weight: 250;
    color: #ffffff;
  }
}

.section__wrapper {
  position: relative;
  padding: 160px 0;
}
