.slider-calculator {
  display: flex;
  flex-direction: column;
  gap: 15px;
  &__wrapper {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
  }
  &__btn {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }
  &__plus {
    &::before {
      position: absolute;
      content: '';
      width: 14px;
      height: 2px;
      background-color: #4af6cd;
    }
    &::after {
      position: absolute;
      content: '';
      width: 14px;
      height: 2px;
      background-color: #4af6cd;
      transform: rotate(90deg);
    }
  }
  &__minus {
    &::before {
      position: absolute;
      content: '';
      width: 14px;
      height: 2px;
      background-color: #4af6cd;
    }
  }
}

.slider__infoblock-title-input {
  width: 20%;
  background: none;
  border: none;
  color: #ffff;
  text-align: right;
  padding: 0;
}

.result-wrapper {
  display: flex;
}
.total-price {
  &::after {
    content: 'Per Night';
  }
}
