@import '_world-map';
@import '_surf-slider';

.surf-title-container {
  display: flex;
  width: fit-content;
}
.title-surf-district {
  position: relative;
  padding-right: 30px;
  width: fit-content;
  &::after {
    position: absolute;
    content: '|';
    font-weight: 100;
    font-size: inherit;
    margin-left: 7px;
  }
}

.dots-beach-info {
  &__wrapper {
    position: relative;
    padding: 24px 32px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    width: 283px;
    height: 216px;
    background: #0f1010c4;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 6px;
  }
  &__location-name {
    position: relative;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 5px;
    &::after {
      content: '';
      position: absolute;
      width: 17px;
      height: 14px;
      top: calc(50% - 7px);
      background-image: url(../images/arrow-right.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      right: 0;
    }
  }
  &__location-city {
    position: relative;
    font-size: 16px;
    line-height: 32px;
    text-transform: capitalize;
    &::after {
      content: '';
      position: absolute;
      background: #4af6cd;
      width: 80px;
      height: 1px;
      left: 0;
    }
  }
  &__weather {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  &__weather-wave {
    position: relative;
    display: flex;
    font-weight: 800;
    font-size: 16px;
    align-items: center;
    padding: 12px 0 8px 0;
    flex-direction: column;
    &::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 25px;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(-100%);
      background-image: url(../images/surf/info-beach/wave.svg);
    }
    &::after {
      content: 'Surf (FT)';
      position: absolute;
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      transform: translateY(100%);
      white-space: nowrap;
      bottom: 0;
    }
  }
  &__weather-water {
    position: relative;
    display: flex;
    font-weight: 800;
    font-size: 16px;
    align-items: center;
    padding: 12px 0 8px 0;
    flex-direction: column;
    &::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 25px;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(-100%);
      background-image: url(../images/surf/info-beach/water.svg);
    }
    &::after {
      content: 'Tide (FT)';
      position: absolute;
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      transform: translateY(100%);
      white-space: nowrap;
      bottom: 0;
    }
  }
  &__weather-wind {
    position: relative;
    display: flex;
    font-weight: 800;
    font-size: 16px;
    align-items: center;
    padding: 12px 0 8px 0;
    flex-direction: column;
    &::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 25px;
      top: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(-100%);
      background-image: url(../images/surf/info-beach/wind.svg);
    }
    &::after {
      content: 'Wind (KTS)';
      position: absolute;
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      transform: translateY(100%);
      white-space: nowrap;
      bottom: 0;
    }
  }
}
